all{
    margin:0;
    padding:0;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.8em;
}

header{
    background-color: #ccc;
    background-image: url(ae.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
}

h1{
    /* font-size: 4rem; */
    /* font-size: 4vw; */
    font-size: 4vmax;
    line-height: 1.2em;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
    text-align: center;
    margin: auto;
}

section{
    margin: 30px auto;
    width: 80%;
}

section .detail{
    font-size: 1.4rem;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0.5em 0;
    margin-bottom: 2em;
    color: #333;
}

section p{
    font-size: 1.2em;
    margin-bottom: 1em;
    text-indent: 1em;
}