.hello:link{
    color: orange;
}

.hello:hover{
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.hello:active{
    font-style: italic;
}

.hello:visited{
    color: red;
}

li:first-child a{
    color: green;
}

li:last-child a{
    color: red;
}

li:nth-child(3) a{
    color: blue;
}

li:nth-child(3n-1) a{
    color:cadetblue
}

li:nth-child(odd) a{
    font-size: 20px;
    font-style: italic;
}

li:nth-child(odd) a:hover{
    color:red;
}

p:first-of-type{
    color: red;
}

p:last-of-type{
    color: blue;
}