*{padding: 0; margin: 0;}
body{
	background-image: url(logo2.jpg);
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container{
    margin-top: 150px;
}
table{
	width: 500px;
	margin: auto;
	padding: 40px 40px 160px 40px;
	background:rgb(243, 242, 240);
	box-shadow: 0px 3px 8px grey;
	margin-top: 20px;
}
p.masuk{
	margin-bottom: 70px;
}
.daftar, .masuk{
	color:#212121;
}
.daftar{
	margin-bottom: 5px;
	font-family: arial;
	font-size: 23px;
}
input[type=text]{
	width: 100%;
	border:none;
	border-bottom: 1px solid #E2E2E2;
	padding-bottom: 10px;
	color:  #666;
    font-size: 17px;
}
input[type=password]{
	width: 100%;
	border:none;
	border-bottom: 1px solid #E2E2E2;
	padding-bottom: 10px;
	color:  #666;
	font-size: 17px;
}
img{
	width: 70px;
	margin-bottom: 20px;
}
p.batal{
	padding: 30px 0 40px 0;
}
a{
	color: #4285F4;
	text-decoration: none;
}
.kiri{
	float: left;
}
.kiri input[type=button]{
	background: #4285F4;
	padding: 10px 20px;
	color: #fff;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 1px 5px #666;
}
input[type=button]:hover{
	cursor: pointer;
	background: #666;
	transition: background 1s;
}
.foot{
	width: 500px;
	margin: auto;
	overflow: hidden;
	margin-top: 20px;
	color: #666;
}
.right{
	float: right;
}
ul{
	list-style: none;
}
ul li{
	float: left;

}
/*segitiga*/
.triangle{
	margin:8px;
	float: right;
	cursor: pointer;
}
.demo-arrow-down{
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;	
	border-top: 5px solid #333;
}