* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

body {
	background-color: #e5e5e5;
	color: rgb(77, 79, 80);
}

.product-container {
	height: 100vh;
	width: 100vw;
	display: flex;
}

.product-card {
	margin: auto;
	width: 200px;
	box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
	border-radius: 1rem;
}

.product-image {
	position: relative;
	padding-bottom: 100%;
}

.product-image img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

.product-body {
	padding: 0.75rem;
}

.product-body *:not(:first-child) {
	margin-top: 0.4rem;
}

.product-price {
	font-weight: 600;
}

.product-discount {
	color: rgb(102, 98, 98);
	font-size: 0.8rem;
}

.product-discount-percentage {
	padding: 0.1rem 0.3rem;
	border-radius: 0.3rem;
	color: white;
	background-color: rgba(255, 0, 0, 0.493);
}

.product-rates {
	color: rgb(102, 98, 98);
}

.yellow-star {
	color: rgb(255, 166, 0);
}