:root{
    font-size: 10px;
}

body{
    font-family: 'roboto', sans-serif;
    line-height: 1.6;
    text-align: center;
    color: #333;
    background-color: #fff;
    font-weight: 300;
    min-height: 200px;
}

.container{
    width: 80%;
    margin: auto;
}

.typography{
    display: flex;
    font-size: 1.5em;
}

.col-rem{
    /* root em */
    /* satuan rem mengacu pada font size html/root */
    font-size: 2rem;
}

.col-em{
    /* mengacu pada font parent (typography) */
    /* mengacu lagi pada root/html */
    /* 2em x 1.5em = 3em x 10px = 30px */
    font-size: 2em;
}

.typography .col{
    flex: 1;
    margin: 0 0.5em;
    padding: 0 0.5em;
}

.btn{
    display: inline-block;
    background-color: black;
    color: white;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;

    /* em dalam konteks length akan mengacu ke- */
    /* font-size di dalam scopenya dulu, jika gada- */
    /* baru ke parentnya */
    padding: 1em 2em;
}

.btn-sm{
    font-size: 0.5em;
}

.btn-lg{
    font-size: 2em;
}