body{
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2{
    color: green;
}

h2{
    font-style: italic;
}

ul li a {
    color: orange;
}

ol li a {
    color: red;
}

#p1{
    color: orange;
}

.p2{
    color: red;
}

.bolt{
    font-weight: bold;
}

p.bolt{
    font-size: 30px;
}