div {
    width: 550px;
    height: 300px;
    background-color: greenyellow;
    margin: 10px auto;
    padding-left: 50px;
    /* padding tidak memiliki nilai auto/minus */
    border-left: 5px solid black;
    border-top: 5px dotted green;
    border-right: 5px double red;
    border-bottom: 5px dashed paleturquoise;
}

.satu {
    background-color: aqua;
    padding: 10px;
    border: 5px solid red;
    box-sizing: border-box;
}

.dua {
    background-color: antiquewhite;
    padding: 30px;
    border: 10px dashed orange;
    box-sizing: border-box;
}