@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: Nunito, sans-serif;
    min-height: 100vh;
    font-size: 1.4rem;
    line-height: 1.6;
    color: #333;
    overflow-x: hidden;
}

.container {
    max-width: 800px;
    width: calc(100vw - 4em);
    margin: 0 auto;
}

h1 {
    font-size: calc(6vw + 1.5rem);
    text-align: center;
    color: lightblue;
}

img {
    display: block;
    max-width: 100%;
}

.full-size{
    max-width: 100vw;
    margin: 0 calc(-50vw + 50%);
}

.high{
    background-color: lightblue;
    text-align: center;
    font-style: italic;
    padding: 2em;
    margin: 0 calc(-50vw + 50%);
    font-size: calc(1vw + 1.2rem);
}