* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section .gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}

.header-content h1{
    text-align: center;
    color: #333;
}

.header-content h1 span{
    color: #32be8f;
}

.footer {
    background-color: #333;
    height: 60px;
}

.footer .copy{
    color: #eaeaea;
    padding: 20px;
    text-align: center;
}

footer{
    position: absolute;
    left: 0px;
    margin-top: -30px;
    background: rgb(29, 16, 49);
    height: auto;
    width: 100%;
    font-family: "open sans";
    padding-top: 40px;
    color: #FFF;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.footer-bottom{
    background: #000;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.footer-bottom p {
    position: absolute;
    top: 280px;
    text-align: center;
    align-items: center;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    color: #3eacae;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #FFF;
}

.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
    /* margin-right: 5px; */
}

.socials a:hover i{
    color: aqua;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.fa-edit:hover{
    cursor: pointer;
    color: #f85552;
}