/* style */

body {
    font: 16px/28px arial, sans-serif;
    background-color: #eaeaea;
    color: #333;
    background-image: url(food.png);
}

.container {
    width: 800px;
    margin: auto;
    background-color: #fff;
}

.header {
    padding: 20px;
    padding-bottom: 10px;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
}

ul{
    list-style: none;
    padding: 20px;
    margin-top: -30px;
}

li{
    display: inline-block;
}

a:hover{
    background-color: lightblue;
    color: black;
}

ul li a{
    text-decoration: none;
    color: salmon;
    padding: 3px;
}

.header a:hover {
    background-color: lightskyblue;
    color: white;
}

.hero{
    height: 280px;
    background-image: url(1.jpeg);
    background-size: cover;
    border-top: 5px solid salmon;
    border-bottom: 5px solid lightblue;
}

.content {
    padding: 20px;
}

.content h2{
    font-size: 28px;
    font-weight: bold;
}

.content .penulis a{
    color: red
}

.content .penulis a:hover{
    color: black;
}

.content .penulis{
    font-size: 16px;
    margin-top: -5px;
    font-style: italic;
}

.content p {
    margin-bottom: 20px;
}

.footer {
    background-color: #333;
}

.footer .copy{
    color: #eaeaea;
    padding: 20px;
    text-align: center;
}