.container{
    width: 600px;
    border: 1px solid black;
    margin: auto;
    padding: 5px;
}

.satu, .dua, .tiga{
    width: 100px;
    height: 100px;
}

.satu{
    background-color: aqua;
}

.dua{
    background-color: red;
    float: right;
}

.tiga{
    background-color: yellow;
}

img{
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 15px;
}

.kotak{
    height: 80px;
    width: 80px;
    color: white;
    background-color: salmon;
    text-align: center;
    line-height: 80px;
    margin: 2px;
    float: left;
}

.container2{
    width: 800px;
    border: 1px solid black;
    margin: auto;
    padding: 5px;
}

.kiri{
    background-color: aqua;
    width: 150px;
    height: 500px;
    float: left;
    /* cara agar padding tidak berpengaruh ke lebar */
    padding: 10px;
    box-sizing: border-box;
    /* ============================================ */
}

.tengah{
    background-color: red;
    width: 500px;
    height: 500px;
    float: left;
}

.kanan{
    background-color: yellow;
    width: 150px;
    height: 500px;
    float: left;
}