.table-sortable th {
    cursor: pointer;
}

.table-sortable th.th-sm{
    cursor: default;
}

.table-sortable .th-sort-asc::after {
    content: "\25b4";
}

.table-sortable .th-sort-desc::after {
    content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
    margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
    background: rgba(0, 0, 0, 0.1);
}

.table-sortable {
    /* border-collapse: collapse; */
    margin: 25px 0;
    margin-top: 15px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-sortable thead tr {
    background-color: #ea0c77;
    color: #ffffff;
    text-align: left;
}

.table-sortable th,
.table-sortable td {
    padding: 12px 15px;
}

.table-sortable tbody tr {
    border-bottom: thin solid #dddddd;
}

.table-sortable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table-sortable tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.table-sortable tbody tr.active-row {
    font-weight: bold;
    color: #ea0c77;
}
